# Created by .ignore support plugin (hsz.mobi)
.idea/
/build/
/deploy/
/lib/bulma.css.map
/node_modules/
/server/server.js
/server/server.js.map
/server/lambda.js
/server/lambda.js.map
/server/mongo.js
/server/mongo.js.map
/src/js/abi/
/src/js/develop.js
/src/js/develop.js.map
/src/js/game_page.js.map
/src/js/game_page.js
/src/js/info_page.js
/src/js/info_page.js.map
/src/js/lib.js
/src/js/lib.js.map
/src/js/main.js.map
/src/js/main.js
/src/js/simulation.js.map
/src/js/simulation.js
/src/js/sound.js
/src/js/sound.js.map
/src/js/hot_page.js.map
/src/js/hot_page.js
/src/js/layout.js
/src/js/layout.js.map
/contracts.js
/contracts.js.map
/faviconData.json
/keys.js
